<html>
<head>
	<meta charset="UTF-8">
	<title>Soul Veggie</title>
	<link rel="shortcut icon" href="http://127.0.0.1:8887/img/logo_icon.jpg">
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8887/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8887/css/styleCardapio.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="master"><!-- Div contains whole site -->
		<div><!-- Div contains menu -->
			<nav class="navbar navbar-expand navbar-light d-flex justify-content-between" id="menu">
				<div class="container">
					<div class="navbar-nav">
						<img src="http://127.0.0.1:8887/img/logo_icon.jpg" width="30px" height="30px">
						<h4 class="tituloMenu f mFooterTitle">Soul Veggie</h4>
						<a class="a topicosMenu active" href="/home">Home</a>
						<a class="a topicosMenu" href="/sobre">Soul Veggie</a>
						<a class="a topicosMenu" href="/cardapio">Cardápio</a>
						<a class="a topicosMenu" href="/contato">Contato</a>
					</div>
				</div>
				<a href="/login"><button class="topicosMenu btn btn-outline-light">Login</button></a>
			</nav>
		</div>
		
		<h3 class="pageTitle">Menu</h3>
		
		<br><br>
		
		<div class="prodTable">
			<div class="row">
			  <div class="column">
			    <h5>Salada</h5>
			    <img  src="http://127.0.0.1:8887/img/produtos/prod_01.jpg" width="100%" height="200px">
			    <caption>o melhor prato de bauru bla bla bla kkkkkk</caption>
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <a href="/compra"><img src="http://127.0.0.1:8887/img/produtos/prod_02.jpg" width="100%" height="200px"></a>
			  	<caption>o melhor prato de bauru bla bla bla kkkkkk</caption>
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_03.jpg" width="100%" height="200px">
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_04.jpg" width="100%" height="200px">
			  </div>
			</div>		
		</div>
		<br>
		<div class="prodTable">
			<div class="row">
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_05.jpg" width="100%" height="200px">
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <a href="www.google.com"><img src="http://127.0.0.1:8887/img/produtos/prod_06.jpg" width="100%" height="200px"></a>
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_07.jpg" width="100%" height="200px">
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_08.jpg" width="100%" height="200px">
			  </div>
			</div>		
		</div>
		<br>
		<div class="prodTable">
			<div class="row">
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_09.jpg" width="100%" height="200px">
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <a href="www.google.com"><img src="http://127.0.0.1:8887/img/produtos/prod_10.jpg" width="100%" height="200px"></a>
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_11.jpg" width="100%" height="200px">
			  </div>
			  <div class="column">
			    <h5>Salada</h5>
			    <img src="http://127.0.0.1:8887/img/produtos/prod_12.jpg" width="100%" height="200px">
			  </div>
			</div>		
		</div>

		<br>

		<div> <!-- Div footer -->
			<nav class="navbar navbar-expand navbar-light d-flex justify-content-between" id="menu2">
				<div class="container">
				<div class="navbar-nav">
					<h4 class="titulo f mFooter">O Soul Veggie pipipipopopo</h4>
					<a class="a b mFooter active" href="/home">Home</a>
					<a class="a b mFooter" href="/sobre">Soul Veggie</a>
					<a class="a b mFooter" href="/cardapio">Cardápio</a>
					<a class="a b mFooter" href="/contato">Contato</a>
				</div>
				</div>
				<img class="mFooterImgFacebook" src="http://127.0.0.1:8887/img/facebook_icon.png"
				width="50" height="45">
				<img class="mFooterImgInstagram" src="http://127.0.0.1:8887/img/instagram_icon.png" 
				width="55" height="50">
			</nav>
		</div>
	</div>
</body>
</html>