<html>
<head>
	<meta charset="UTF-8">
	<title>Soul Veggie</title>
	<link rel="sortcut icon" href="http://127.0.0.1:8887/img/logo_icon.jpg" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8887/css/all.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="master"><!-- Div contains whole site -->
		<div><!-- Div contains menu -->
			<nav class="navbar navbar-expand navbar-light d-flex justify-content-between" id="menu">
				<div class="container">
				<div class="navbar-nav">
					<img src="http://127.0.0.1:8887/img/logo_icon.jpg" width="30px" height="30px">
					<h4 class="tituloMenu f mFooterTitle">Soul Veggie</h4>
					<a class="a topicosMenu active" href="/home">Home</a>
					<a class="a topicosMenu" href="/sobre">Soul Veggie</a>
					<a class="a topicosMenu" href="/cardapio">Cardápio</a>
					<a class="a topicosMenu" href="/contato">Contato</a>
				</div>
				</div>
				<a href="/login"><button class="topicosMenu btn btn-outline-light">Login</button></a>
			</nav>
		</div>
		
		<div> <!-- Div contains carousel -->
		    <div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
			  <li data-target="#demo" data-slide-to="0" class="active"></li>
			  <li data-target="#demo" data-slide-to="1"></li>
			  <li data-target="#demo" data-slide-to="2"></li>
			</ul>
			  
			<!-- The slideshow -->
			<div class="carousel-inner">
			  <div class="carousel-item active">
			    <img src="http://127.0.0.1:8887/img/slider01.jpg" width="100%" height="90%">
			    <div class="carousel-caption d-none d-md-block">
				    <h5>Soul Veggie</h5>
				    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			  </div>
			  <div class="carousel-item">
			  	<img src="http://127.0.0.1:8887/img/slider02.jpg" width="100%" height="90%">
			  	<div class="carousel-caption d-none d-md-block">
				    <h5>Soul Veggie</h5>
				    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			  </div>
			  <div class="carousel-item">
			    <img src="http://127.0.0.1:8887/img/slider03.jpg" width="100%" height="90%">
			    <div class="carousel-caption d-none d-md-block">
				    <h5>Soul Veggie</h5>
				    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			  </div>
			</div>
			  
			  <!-- Left and right controls -->
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			  </a>
			</div>
		</div>

		<div> <!-- Div footer -->
			<nav class="navbar navbar-expand navbar-light d-flex justify-content-between" id="menu2">
				<div class="container">
				<div class="navbar-nav">
					<h4 class="titulo f mFooter">O Soul Veggie pipipipopopo</h4>
					<a class="a b mFooter active" href="/home">Home</a>
					<a class="a b mFooter" href="/sobre">Soul Veggie</a>
					<a class="a b mFooter" href="/cardapio">Cardápio</a>
					<a class="a b mFooter" href="/contato">Contato</a>
				</div>
				</div>
				<img class="mFooterImgFacebook" src="http://127.0.0.1:8887/img/facebook_icon.png"
				width="50" height="45">
				<img class="mFooterImgInstagram" src="http://127.0.0.1:8887/img/instagram_icon.png" 
				width="55" height="50">
			</nav>
		</div>
	</div>
</body>
</html>