<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/home.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container"><!-- Div contains whole site -->
	
		<div><!-- Div contains menu -->
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3" id="nav-menu">
				<div class="navbar-nav">
					<h4 class="titulo">Soul Veggie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
					<a class="nav-item nav-link active" href="/home">Home</a>
					<a class="nav-item nav-link" href="/sobre">Soul Veggie</a>
					<a class="nav-item nav-link" href="/cardapio">Cardápio</a>
					<a class="nav-item nav-link" href="/contato">Contato</a>
				</div>
				<a href="/login"><button class="btn btn-outline-secondary my-2-sm-0">Login</button></a>
			</nav>
		</div>
		
		<div> <!-- Div contains carousel -->
		    <div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
			  <li data-target="#demo" data-slide-to="0" class="active"></li>
			  <li data-target="#demo" data-slide-to="1"></li>
			  <li data-target="#demo" data-slide-to="2"></li>
			</ul>
			  
			<!-- The slideshow -->
			<div class="carousel-inner">
			  <div class="carousel-item active">
			    <img src="https://i.pinimg.com/736x/80/56/81/8056812ef474ffc97409d3edb903d00b.jpg" width="100%" height="70%">
			  </div>
			  <div class="carousel-item">
			    <img src="https://i.pinimg.com/564x/c0/6a/45/c06a455f75824ae454ae094a1d4e14d8.jpg" width="100%" height="70%">
			  </div>
			  <div class="carousel-item">
			    <img src="img/prod2.png" width="100%" height="70%">
			  </div>
			</div>
			  
			  <!-- Left and right controls -->
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			  </a>
			</div>
		</div>
		
		<div> <!-- Div Contact informations -->
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3" id="nav-menu">
				<div class="navbar-nav">
					<div class="camada1"></div>
					<h6 class="fontMenu2">(14) 3277-1446</h6>
					<div class="camada2"></div>
					<h6 class="fontMenu2">Av. Affonso José Aiello, 14-45 - Vila Aviação, Bauru - SP,<br>17018-520</h6>
				</div>
			</nav>
		</div>
		
		<div> <!-- Div map + local information-->
			<br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.60002223262046!2d-49.05696337275329!3d-22.368714110488714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf60b484041983%3A0xef7f812cd958aeba!2sVillaggio%20Mall%20Center!5e0!3m2!1spt-BR!2sbr!4v1637618562661!5m2!1spt-BR!2sbr" 
			width="50%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			
			<div class="localInfo">
				<p>
					O Soul Veggie oferece um cardápio criativo num ambiente único.
					Não deixe de experimentar nossas receitas mais famosas, 
					como o Pad Thai , a Moqueca Tropical, a Mjadra, o Ravioli de 
					Beterraba com Queijo e o Ragu de Lentilha .
					<br><br>
					Nos preocupamos em atender bem. 
					Por isso, nosso trabalho e nossa dedicação são para que todos 
					tenham a melhor experiência conosco.
				</p>
				<div> <!-- Div opening hours-->
					<h4 class="subtitulo1">HORÁRIO<br>DE FUNCIONAMENTO</h4>
					<div class="openingHours">
						<h6 class="openningHoursSubtitle">RESTAURANTE:</h6>
						<p>SEGUNDA A DOMINGO: 11h00 - 22h00</p>
						
						<h6 class="openningHoursSubtitle">DELIVERY:</h6>
						<p>SEGUNDA A DOMINGO: 11h00 - 22h00</p>
						
						<h6 class="openningHoursSubtitle">TAKE AWAY:</h6>
						<p>SEGUNDA A DOMINGO: 11h00 - 22h00</p>	
					</div>
					<h4 class="subtitulo1">ACEITAMOS<br>OS CARTÕES:</h4>
					<div class="cards"><!-- Div accepting cards-->
						<!-- COLOCAR AS IMAGENS DOS CARTOES-->
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>