.compra{
	margin-top:100px;
	margin-bottom:100px;
}

.title{
	color:white;
	font-size: 30px;
	line-height: bold;
	text-align: center;
	font-family: verdana;
}

.subtitle{
	color:white;
	font-size: 15px;
	text-align: center;
	margin-bottom:20px;
	font-family: verdana;
}

.inputId{
	width:35%;
	height:5%;
	margin-left: 33%;
	margin-bottom:25px;
}

.inputDestino{
	width:35%;
	height:5%;
	margin-left: 33%;
	margin-bottom:15px;
}

.btnSubmit{
	font-size: 20px;
	line-height: bold;
}

.inputSubmit{
	width:35%;
	height:5.8%;
	margin-top:1%;
	margin-left: 33%;
	text-align: center;
	margin-bottom:15px;
	background-color: white;
}