
/* Create four equal columns that floats next to each other */
.column {
	margin-left: 8.2%;
	float: left;
    width: 15%;
    padding: 10px;
    color: white;
    border: 1px solid;
    border-color: gray;
}

/* Clear floats after the columns */

.prodTable{
	width: 98%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.pageTitle{
	font-size: 25px;
	float: left;
	color: white;
	margin-left: 7%;
	margin-top: 1.5%;
	font-style: italic;
}